* {
  outline: none;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeef1;
}

.topnav {
  padding: 0px 20px;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:first-child {
  float: left;
  display: block;
  padding: 6px 0px;
}
.topnav a:first-child:hover {
  transform: none;
}
.topnav a:first-child img {
  height: 40px;
  width: 223px;
}

.topnav a:hover {
  transform: scale(1.1);
  color: white;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}
.cart img {
  width: 25px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav {
    padding: 0px 10px;
  }
  .topnav a {
    padding: 12px 4px;
  }
  .topnav a:hover {
    transform: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav {
    padding: 0px 10px;
  }
  .topnav a {
    padding: 12px 4px;
  }
  .topnav a:hover {
    transform: none;
  }
}
.image {
  margin-top: 60px;
  margin-bottom: 40px;
}
.image img {
  width: 80%;
  margin-left: 120px;
}

.itembar {
  width: 100%;
}
.item1 {
  float: right;
  width: 48%;
  height: 600px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  /*background-color: white;*/
}
.item2 {
  float: left;
  width: 48%;
  height: 600px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  overflow: scroll;
}
.item1 input,
textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  /*background-color: white;*/
  /*color: black;*/
}
textarea {
  height: 150px;
  overflow: scroll;
}
.item1 label {
  font-size: x-large;
  padding: 8px;
  /*color: white;*/
}
.item1 button {
  padding: 8px 30px;
  margin-top: 10px;
  margin-left: 40%;
  margin-right: auto;
}
.item1 button:hover {
  background-color: green;
  color: white;
}
.item2 h1 {
  font-weight: bolder;
  font-size: xx-large;
  margin-bottom: 20px;
}
.cards {
  float: left;
  width: 48%;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px 5px;
}
.cards img {
  float: left;
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.cards a {
  font-size: large;
  color: black;
  font-weight: bold;
}
.item2 h2 {
  font-weight: bold;
  font-size: xx-large;
}
#abc {
  font-size: large;
}
#formlink:hover {
  transform: scale(1.1);
}
