html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeef1;
  height: 800px;
}
.topnav {
  padding: 0px 20px;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:first-child {
  float: left;
  display: block;
  padding: 6px 0px;
}
.topnav a:first-child:hover {
  transform: none;
}
.topnav a:first-child img {
  height: 40px;
  width: 223px;
}

.topnav a:hover {
  transform: scale(1.1);
  color: white;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}
.cart img {
  width: 25px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav {
    padding: 0px 10px;
  }
  .topnav a {
    padding: 12px 4px;
  }
  .topnav a:hover {
    transform: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav {
    padding: 0px 10px;
  }
  .topnav a {
    padding: 12px 4px;
  }
  .topnav a:hover {
    transform: none;
  }
}

.details-container {
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d4d4d8;
  height: 640px;

  color: rgb(66, 64, 82);
  font-family: sans-serif;
  padding: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 20px 5px rgb(66, 64, 82);
  border-radius: 10px;
}

.field-label {
  width: 50%;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.5em;
}
.fields {
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 30%;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(66, 64, 82);
}

#proceed {
  border: none;
  font-size: 20px;
  padding: 20px;
  width: 25%;
  display: block;
  margin: 20px auto;
  background-color: rgb(66, 64, 82);
  color: rgba(255, 227, 217, 1);
}
#proceed:hover {
  background-color: green;
  color: white;
  animation-name: changeColor;
  animation-duration: 0.5s;
}
@keyframes changeColor {
  from {
    background-color: rgb(66, 64, 82);
    color: rgba(255, 227, 217, 1);
  }
  to {
    background-color: green;
    color: white;
  }
}
