/*#D4D4D8
#5C5C62*/
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  padding: 0px 20px;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:first-child {
  float: left;
  display: block;
  padding: 6px 0px;
}
.topnav a:first-child:hover {
  transform: none;
}
.topnav a:first-child img {
  height: 40px;
  width: 223px;
}

.topnav a:hover {
  transform: scale(1.1);
  color: white;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}
.cart img {
  width: 25px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav {
    padding: 0px 10px;
  }
  .topnav a {
    padding: 12px 4px;
  }
  .topnav a:hover {
    transform: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav {
    padding: 0px 10px;
  }
  .topnav a {
    padding: 12px 4px;
  }
  .topnav a:hover {
    transform: none;
  }
}

#goupbutton {
  position: fixed;
  height: 50px;
  width: 50px;
  right: 10px;
  bottom: 10px;
  z-index: 30;
}
.homepage1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.homepage1 p {
  font-size: 60px;
  text-align: center;
  font-weight: bolder;
}
.homepage2 {
  margin-bottom: 0px;
}
.homepage2 img {
  width: 90%;
  margin-left: 60px;
}
.homepage3 {
  background-color: black;
  color: #eeeeee;
  padding: 10px 10px 0px;
  text-align: center;
  font-variant: small-caps;
}
.homepage3 h3 {
  font-size: 2.3vw;
  margin: 10px;
  letter-spacing: 1.5px;
  pointer-events: none;
}
.homepage3 hr {
  border-color: #bfa540;
}
.homepage3 input[type="email"] {
  padding: 5px 10px;
  color: #333;
  text-align: left;
}
.socialmedia {
  margin: 40px;
}
.socialmedia h2,
.subscribe h2 {
  color: #878787;
  font-size: 2.3vw;
  pointer-events: none;
  margin-bottom: 5px;
}
.socialmedia div {
  margin: 15px;
}
.socialmedia a img {
  height: 40px;
  width: 40px;
  margin: 0px 10px;
  transition: all 0.3s;
}
.socialmedia a img:hover {
  transform: scale(1.2);
}
.subscribe input,
.subscribe button {
  font-size: 1.5vw;
  padding: 5px;
  border-radius: 30px;
  outline: none;
  box-shadow: none;
  border: 1px solid #bfa540;
  text-align: center;
  margin-top: 13px;
}
.subscribe button {
  font-size: 1vw;
  color: #ffffff;
  background-color: #bfa540;
  padding: 5px 10px;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
}
table {
  margin: 50px 30px 0px;
}
tr td,
tr th {
  padding: 0 15px;
}
table,
table th {
  text-align: left;
}
.hr {
  margin: 20px 0px 15px;
  border-left: 2.3px solid #bfa540;
}
.homepage4 {
  background-color: black;
}
.homepage4 p {
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding-top: 10px;
}
@media (max-width: 760px) {
  .info {
    flex-direction: column;
  }
}
