html {
  scroll-behavior: smooth;
}
* {
  transition: all 0.3s;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeef1;
}

.topnav {
  padding: 0px 20px;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:first-child {
  float: left;
  display: block;
  padding: 6px 0px;
}
.topnav a:first-child:hover {
  transform: none;
}
.topnav a:first-child img {
  height: 40px;
  width: 223px;
}

.topnav a:hover {
  transform: scale(1.1);
  color: white;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}
.cart img {
  width: 25px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav {
    padding: 0px 10px;
  }
  .topnav a {
    padding: 12px 4px;
  }
  .topnav a:hover {
    transform: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav {
    padding: 0px 10px;
  }
  .topnav a {
    padding: 12px 4px;
  }
  .topnav a:hover {
    transform: none;
  }
}
ion-icon {
  font-size: 25px;
}
.image-card {
  position: relative;
  margin-bottom: 20px;
}
.gridItem:hover {
  transform: scale(1.1);
}
.add-cart {
  display: none;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  right: 0;
  height: 10px;
  padding: 10px;
  /* display: block; */
  background-color: black;
  color: white;
  padding-bottom: 20px;
}

.content{
  display: flex;
  box-sizing: border-box;
}
#productGrid {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  padding-top: 50px;
 
}

@media only screen and (max-width:1200px){
  #productGrid {
    grid-template-columns: auto auto ; 
  }
}
@media only screen and (max-width:900px){
  #sidebar {
  display: none;
  }
}
@media only screen and (max-width:600px){
  #productGrid {
    grid-template-columns:auto ; 
  }
}
h1,
p {
  width: 250px;
  /* margin: 0; */
  padding: 0;
  margin: auto;
}
.image-card img {
  width: 250px;
  padding: 0;
}
img:hover {
  padding: 0;
}
.gridItem {
  width: auto;
  text-align: center;
  margin: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#sidebar {
  flex: 0 0 25%;
  max-width: 300px;
  min-width: 250px;
  border-right: 1px solid rgba(66, 64, 82, 0.5);
  background-color: #d4d4d8;
  padding-top: 50px;
}
#sidebar h2 {
  font-size: xx-large;
}
#sidebar li {
  list-style: none;
  padding-bottom: 10px;
  font-size: x-large;
}
