body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  padding: 0px 20px;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:first-child {
  float: left;
  display: block;
  padding: 6px 0px;
}
.topnav a:first-child:hover {
  transform: none;
}
.topnav a:first-child img {
  height: 40px;
  width: 223px;
}

.topnav a:hover {
  transform: scale(1.1);
  color: white;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}
.cart img {
  width: 25px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav {
    padding: 0px 10px;
  }
  .topnav a {
    padding: 12px 4px;
  }
  .topnav a:hover {
    transform: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav {
    padding: 0px 10px;
  }
  .topnav a {
    padding: 12px 4px;
  }
  .topnav a:hover {
    transform: none;
  }
}
section {
  width: 100%;
  margin-bottom: 10px;
  height: 500px;
  margin-top: 10px;
  padding: 40px 20px;
  position: relative;
}
.images div {
  float: left;
}
.images a img {
  float: right;
  height: 450px;
  width: 450px;
  margin: 20px;
}
.images1 div {
  float: right;
}
.images1 a img {
  float: left;
  height: 450px;
  width: 450px;
  margin: 20px;
}
.images2 div {
  float: left;
}
.images2 a img {
  height: 450px;
  width: 850px;
}
.text1,
.text3 {
  position: absolute;
  top: 240px;
  right: 300px;
  font-size: 3em;
  font-weight: bold;
}
.text2 {
  position: absolute;
  top: 240px;
  left: 300px;
  font-size: 3em;
  font-weight: bold;
}
