*{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #eeeef1;
}
.nav-bar{
  overflow: hidden;
  background-color: black;
  margin: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.nav-bar li{
  display: inline;
  list-style-type: none;
  color:white;
}
.nav-bar li a{
  text-decoration: none;
  float: right;
  display: block;
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: large;
  text-align: center;
}
.nav-bar li a:hover{
  transform: scale(1.1);
}
.nav-bar a img{
  height: auto;
  width: 25px;
}

ion-icon {
  font-size: 25px;
}

.svg-container {
  margin-top : 100px;
}

/* cart */


/* ----------------- CART PAGE --------------- */

.container-products {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 150px;
}

.container-products ion-icon {
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
}

.product-title {
  width: 45%;
}

.price {
  width: 15%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.product ion-icon {
  cursor: pointer;
  
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products img {
  width: 75px;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 10%;
}


button {
  padding: 20px;
  font-size:20px;
  border:none;
  display: block;
  margin:auto;
  width: 25%;
  margin-top: 50px;
  background-color: black;
  color:white;
      
}
button:hover {
  background-color: green;
}

@media(max-width: 500px) {
  nav h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;;
  }

  .sm-hide {
      display: none;
      
  }

  .products,
  .product-header {
      justify-content: center;
  }

  .basketTotalContainer {
      padding-right: 8%;
  }
}
