html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  background-color: #eeeef1;
  height: 800px;
}
h1 {
  margin-top: 100px;
  text-align:center;
  color: rgb(66, 64, 82);
  font-size:4em;
}
.nav-bar{
  overflow: hidden;
  background-color: black;
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.nav-bar li{
  display: inline;
  list-style-type: none;
  color:white;
}
.nav-bar li a{
  text-decoration: none;
  float: right;
  display: block;
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: large;
  text-align: center;
}
.nav-bar li a:hover{
  transform: scale(1.1);
}
.nav-bar a img{
  height: auto;
  width: 25px;
}

.details-container {
  width: 50%;
  margin-top: 50px;
  margin-left:auto;
  margin-right: auto;
  background-color: #D4D4D8;
  height: 640px;  

  color:rgb(66, 64, 82);
  font-family:sans-serif;
  padding: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 20px 5px rgb(66, 64, 82);
  border-radius: 10px;;

}

.field-label {
  width: 50%;
  display: inline-block;
  margin-bottom: 10px;
  margin-top:10px;
  font-size:1.5em;
}
.fields {
  border:none;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 30%;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 20px;
  color:rgb(66, 64, 82);
}

#proceed {
  border:none;
  font-size: 20px;
  padding: 20px;
  width: 25%;
  display: block;
  margin: 20px auto;
  background-color: rgb(66, 64, 82);
  color:rgba(255, 227, 217, 1.0);
}
#proceed:hover {
  background-color: green;
  color:white;
  animation-name: changeColor;
  animation-duration: 0.5s;
}
@keyframes changeColor {
  from{background-color: rgb(66, 64, 82);color: rgba(255, 227, 217, 1.0);
  to{background-color:green;color:white;}}
}
